In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import streamlit as st
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

##                                   **Bizning datasetning ustunlari**
#### **Marital status** - (Oilaviy holat): Talabaning oilaviy holati (yolg'iz, uylangan/turmushga chiqqan va h.k.).
#### **Application mode** - (Ariza berish usuli): Talabaning o'qishga qabul qilinishi uchun qanday usuldan foydalangani
#### **Application order** - (Ariza berish tartibi): Talaba ariza bergan tartib raqami.
#### **Course** - (Kurs): Talaba o'qiyotgan kursning nomi.
#### **Daytime/evening attendance** - (Kunduzgi/kechki qatnashish): Talabaning kunduzgi yoki kechki darslarga qatnashishi.
#### **Previous qualification** - (Oldingi malaka): Talabaning oldingi malakaviy darajasi.
#### **Previous qualification (grade)** - (Oldingi malaka (bahosi)): Talabaning oldingi malakaviy bahosi.
#### **Nationality** - (Millat): Talabaning millati.
#### **Mother's qualification** - (Onaning malakasi): Talabaning onasining malakaviy darajasi.
#### **Father's qualification** - (Otaning malakasi): Talabaning otasining malakaviy darajasi.
#### **Mother's occupation** - (Onaning kasbi): Talabaning onasining kasbi.
#### **Father's occupation** - (Otaning kasbi): Talabaning otasining kasbi.
#### **Admission grade** - (Qabul bahosi): Talabaning universitetga kirish imtihonlaridagi bahosi.
#### **Displaced** - (Joyidan ko'chirilgan): Talabaning joyidan ko'chirilganligi.
#### **Educational special needs** - (Ta'limdagi maxsus ehtiyojlar): Talabaning ta'limdagi maxsus ehtiyojlari.
#### **Debtor** - (Qarzli): Talabaning qarzlari borligi.
#### **Tuition fees up to date** - (To'lovlar to'langanmi): Talabaning o'qish to'lovlari to'langanligi.
#### **Gender** - (Jins): Talabaning jinsi.
#### **Scholarship holder** - (Stipendiya oluvchi): Talabaning stipendiya olishi.
#### **Age at enrollment** - (Qabul vaqtida yoshi): Talabaning universitetga qabul qilingandagi yoshi.
#### **International** - (Xalqaro): Talabaning xalqaro talaba ekanligi.
#### **Curricular units 1st sem (credited)** - (1-semestrdagi kreditlar): 1-semestrdagi kreditlar soni.
#### **Curricular units 1st sem (enrolled)** - (1-semestrdagi o'qigan fanlar): 1-semestrda o'qigan fanlar soni.
#### **Curricular units 1st sem (evaluations)** - (1-semestrdagi baholangan fanlar): 1-semestrda baholangan fanlar soni.
#### **Curricular units 1st sem (approved)** - (1-semestrdagi o'tilgan fanlar): 1-semestrda muvaffaqiyatli o'tilgan fanlar soni.
#### **Curricular units 1st sem (approved)** - (1-semestrdagi o'tilgan fanlar): 1-semestrda muvaffaqiyatli o'tilgan fanlar soni.
#### **Curricular units 1st sem (without evaluations)** - (1-semestrda baholanmagan fanlar): 1-semestrda baholanmagan fanlar soni.
#### **Curricular units 2nd sem (credited)** - (2-semestrdagi kreditlar): 2-semestrdagi kreditlar soni.
#### **Curricular units 2nd sem (enrolled)** - (2-semestrdagi o'qigan fanlar): 2-semestrda o'qigan fanlar soni.
#### **Curricular units 2nd sem (evaluations)** - (2-semestrdagi baholangan fanlar): 2-semestrda baholangan fanlar soni.
#### **Curricular units 2nd sem (approved)** - (2-semestrdagi o'tilgan fanlar): 2-semestrda muvaffaqiyatli o'tilgan fanlar soni.
#### **Curricular units 2nd sem (grade)** - (2-semestrdagi o'rtacha baho): 2-semestrda olingan o'rtacha baho.
#### **Curricular units 2nd sem (without evaluations)** - (2-semestrda baholanmagan fanlar): 2-semestrda baholanmagan fanlar soni.
#### **Unemployment rate** - (Ishsizlik darajasi): Talabaning yashaydigan mamlakatidagi ishsizlik darajasi.
#### **Inflation rate** - (Inflyatsiya darajasi): Talabaning yashaydigan mamlakatidagi inflyatsiya darajasi.
#### **GDP** - (YaIM): Talabaning yashaydigan mamlakatidagi yalpi ichki mahsulot.
#### **Target** - (Maqsad): Bu ustun ko'pincha model qurishda nishon o'zgaruvchisi sifatida ishlatiladi, ya'ni talabaning akademik muvaffaqiyati yoki natijasi.

### Info methodidan foydalanib datasetimiz haqida ma'lumot olamiz (Nanlar soni vhkazo) hamda nullar ustunning necha foizini tashkil qilishini bilib olamiz

In [2]:
df = pd.read_csv('Academic_Success.csv', index_col = 0)
display(df.info(memory_usage='deep'))
display(df.isnull().mean() * 100)

<class 'pandas.core.frame.DataFrame'>
Index: 76518 entries, 0 to 76517
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  74930 non-null  object
 1   Application mode                                74660 non-null  object
 2   Application order                               73745 non-null  float64
 3   Course                                          75803 non-null  object
 4   Daytime/evening attendance                      76345 non-null  object
 5   Previous qualification                          74227 non-null  object
 6   Previous qualification (grade)                  75423 non-null  float64
 7   Nationality                                     75964 non-null  object
 8   Mother's qualification                          74761 non-null  object
 9   Father's qualification                          73997 non-null  object
 10  Mother's occupation                             75907 non-null  object
 11  Father's occupation                             76207 non-null  object
 12  Admission grade                                 76161 non-null  float64
 13  Displaced                                       75692 non-null  object
 14  Educational special needs                       74825 non-null  object
 15  Debtor                                          73739 non-null  object
 16  Tuition fees up to date                         74398 non-null  object
 17  Gender                                          73600 non-null  object
 18  Scholarship holder                              74514 non-null  object
 19  Age at enrollment                               74662 non-null  float64
 20  International                                   74173 non-null  object
 21  Curricular units 1st sem (credited)             74665 non-null  float64
 22  Curricular units 1st sem (enrolled)             74985 non-null  float64
 23  Curricular units 1st sem (evaluations)          73502 non-null  float64
 24  Curricular units 1st sem (approved)             73787 non-null  float64
 25  Curricular units 1st sem (grade)                74672 non-null  float64
 26  Curricular units 1st sem (without evaluations)  74918 non-null  float64
 27  Curricular units 2nd sem (credited)             74506 non-null  float64
 28  Curricular units 2nd sem (enrolled)             75779 non-null  float64
 29  Curricular units 2nd sem (evaluations)          75879 non-null  float64
 30  Curricular units 2nd sem (approved)             75010 non-null  float64
 31  Curricular units 2nd sem (grade)                73743 non-null  float64
 32  Curricular units 2nd sem (without evaluations)  73955 non-null  float64
 33  Unemployment rate                               74661 non-null  float64
 34  Inflation rate                                  73462 non-null  float64
 35  GDP                                             74760 non-null  float64
 36  Target                                          75204 non-null  object
dtypes: float64(19), object(18)
memory usage: 95.8 MB

None

Marital status                                    2.075329
Application mode                                  2.428187
Application order                                 3.623984
Course                                            0.934421
Daytime/evening attendance                        0.226091
Previous qualification                            2.994067
Previous qualification (grade)                    1.431036
Nationality                                       0.724013
Mother's qualification                            2.296192
Father's qualification                            3.294650
Mother's occupation                               0.798505
Father's occupation                               0.406440
Admission grade                                   0.466557
Displaced                                         1.079485
Educational special needs                         2.212551
Debtor                                            3.631825
Tuition fees up to date                           2.770590
Gender                                            3.813482
Scholarship holder                                2.618992
Age at enrollment                                 2.425573
International                                     3.064638
Curricular units 1st sem (credited)               2.421652
Curricular units 1st sem (enrolled)               2.003450
Curricular units 1st sem (evaluations)            3.941556
Curricular units 1st sem (approved)               3.569095
Curricular units 1st sem (grade)                  2.412504
Curricular units 1st sem (without evaluations)    2.091011
Curricular units 2nd sem (credited)               2.629447
Curricular units 2nd sem (enrolled)               0.965786
Curricular units 2nd sem (evaluations)            0.835098
Curricular units 2nd sem (approved)               1.970778
Curricular units 2nd sem (grade)                  3.626598
Curricular units 2nd sem (without evaluations)    3.349539
Unemployment rate                                 2.426880
Inflation rate                                    3.993832
GDP                                               2.297499
Target                                            1.717243
dtype: float64

###

### Datasetimizda Nan qiymatlar mavjud ekan endi bularni tozalab olamiz

### Datasetdagi ba'zi qiymatlarni shunchaki modasi yoki median yoki mean bilan to'ldirib qo'ya olmaymiz. Buning uchun biz avval 'Nationality' ustunini 'Course' ustuni orqali iloji boricha Nanlardan tozalab olamiz shu jumladan Course ustunini ham. Bunda ikkala ustundagi ham indexi NaN bo'lgan qiymatlargina qoladi qolgan NaNlar o'rni to'ladi

In [3]:
def fill_nan_nationality(df):
    gdp_mode_nationality = df.groupby('Course')['Nationality'].transform(lambda x: x.mode()[0] if not x.mode().empty else x)
    nation_mode_gdp = df.groupby('Nationality')['Course'].transform(lambda x: x.mode()[0] if not x.mode().empty else x)
    
    df['Nationality'] = df['Nationality'].fillna(gdp_mode_nationality)
    df['Course'] = df['Course'].fillna(nation_mode_gdp)
    return df

df = fill_nan_nationality(df)

df.isna().mean() * 100

Marital status                                    2.075329
Application mode                                  2.428187
Application order                                 3.623984
Course                                            0.005228
Daytime/evening attendance                        0.226091
Previous qualification                            2.994067
Previous qualification (grade)                    1.431036
Nationality                                       0.005228
Mother's qualification                            2.296192
Father's qualification                            3.294650
Mother's occupation                               0.798505
Father's occupation                               0.406440
Admission grade                                   0.466557
Displaced                                         1.079485
Educational special needs                         2.212551
Debtor                                            3.631825
Tuition fees up to date                           2.770590
Gender                                            3.813482
Scholarship holder                                2.618992
Age at enrollment                                 2.425573
International                                     3.064638
Curricular units 1st sem (credited)               2.421652
Curricular units 1st sem (enrolled)               2.003450
Curricular units 1st sem (evaluations)            3.941556
Curricular units 1st sem (approved)               3.569095
Curricular units 1st sem (grade)                  2.412504
Curricular units 1st sem (without evaluations)    2.091011
Curricular units 2nd sem (credited)               2.629447
Curricular units 2nd sem (enrolled)               0.965786
Curricular units 2nd sem (evaluations)            0.835098
Curricular units 2nd sem (approved)               1.970778
Curricular units 2nd sem (grade)                  3.626598
Curricular units 2nd sem (without evaluations)    3.349539
Unemployment rate                                 2.426880
Inflation rate                                    3.993832
GDP                                               2.297499
Target                                            1.717243
dtype: float64

### Biz yozgan funksiya Course va Nationality ustunlarini bir biri bilan NaNlarini tozalab berdi. Biz GDP ustunidan foydalanganligimizning sababi 37ta ustun uchun ichidan Nationalityga bog'liqligi yuqori bo'lgan ustun bu Course

In [4]:
df.isna().mean() * 100

Marital status                                    2.075329
Application mode                                  2.428187
Application order                                 3.623984
Course                                            0.005228
Daytime/evening attendance                        0.226091
Previous qualification                            2.994067
Previous qualification (grade)                    1.431036
Nationality                                       0.005228
Mother's qualification                            2.296192
Father's qualification                            3.294650
Mother's occupation                               0.798505
Father's occupation                               0.406440
Admission grade                                   0.466557
Displaced                                         1.079485
Educational special needs                         2.212551
Debtor                                            3.631825
Tuition fees up to date                           2.770590
Gender                                            3.813482
Scholarship holder                                2.618992
Age at enrollment                                 2.425573
International                                     3.064638
Curricular units 1st sem (credited)               2.421652
Curricular units 1st sem (enrolled)               2.003450
Curricular units 1st sem (evaluations)            3.941556
Curricular units 1st sem (approved)               3.569095
Curricular units 1st sem (grade)                  2.412504
Curricular units 1st sem (without evaluations)    2.091011
Curricular units 2nd sem (credited)               2.629447
Curricular units 2nd sem (enrolled)               0.965786
Curricular units 2nd sem (evaluations)            0.835098
Curricular units 2nd sem (approved)               1.970778
Curricular units 2nd sem (grade)                  3.626598
Curricular units 2nd sem (without evaluations)    3.349539
Unemployment rate                                 2.426880
Inflation rate                                    3.993832
GDP                                               2.297499
Target                                            1.717243
dtype: float64

### Nationality ustunini endi o'zining modalari bilan to'ldirib olamiz

In [5]:
df['Nationality'] = df['Nationality'].fillna(df['Nationality'].mode()[0])

### Bizga ba'zi categorik ustunlarni to'ldirishimiz uchun Gender va Nationality ustunlari kerak bo'ladi bizda Nationality ustuni tayyor endi Gender ustunini NaN qiymatlardan tozalaymiz

In [6]:
# Fill NaN values in 'Gender' using the most frequent value within each 'Course' group
df['Gender'] = df.groupby('Course')['Gender'].transform(lambda x: x.fillna(x.mode()[0] if not x.mode().empty else 'Unknown'))
df['Gender'] = df['Gender'].fillna(df['Gender'].mode()[0]) # o'zi bilan ham to'dirib oldim
df.isna().mean() * 100

Marital status                                    2.075329
Application mode                                  2.428187
Application order                                 3.623984
Course                                            0.005228
Daytime/evening attendance                        0.226091
Previous qualification                            2.994067
Previous qualification (grade)                    1.431036
Nationality                                       0.000000
Mother's qualification                            2.296192
Father's qualification                            3.294650
Mother's occupation                               0.798505
Father's occupation                               0.406440
Admission grade                                   0.466557
Displaced                                         1.079485
Educational special needs                         2.212551
Debtor                                            3.631825
Tuition fees up to date                           2.770590
Gender                                            0.000000
Scholarship holder                                2.618992
Age at enrollment                                 2.425573
International                                     3.064638
Curricular units 1st sem (credited)               2.421652
Curricular units 1st sem (enrolled)               2.003450
Curricular units 1st sem (evaluations)            3.941556
Curricular units 1st sem (approved)               3.569095
Curricular units 1st sem (grade)                  2.412504
Curricular units 1st sem (without evaluations)    2.091011
Curricular units 2nd sem (credited)               2.629447
Curricular units 2nd sem (enrolled)               0.965786
Curricular units 2nd sem (evaluations)            0.835098
Curricular units 2nd sem (approved)               1.970778
Curricular units 2nd sem (grade)                  3.626598
Curricular units 2nd sem (without evaluations)    3.349539
Unemployment rate                                 2.426880
Inflation rate                                    3.993832
GDP                                               2.297499
Target                                            1.717243
dtype: float64

### Gender ustunini ham Course ustuni orqali tozalab oldik

### Nationality va Gender ustunlari orqali 'Marital status', 'Previous qualification', 'Previous qualification (grade)', 'Mother\'s qualification', 
'Father\'s qualification', 'Mother\'s occupation', 'Father\'s occupation' ustunlarini NaN qiymatlardan tozalab olamiz

In [7]:
def fill_nan_with_group_mode(df, group_col, group_col2 , fill_col):
    mode_values = df.groupby([group_col, group_col2])[fill_col].apply(lambda x: x.mode().iloc[0] if not x.mode().empty else x)
    df[fill_col] = df[fill_col].fillna(df[group_col].map(mode_values))
    return df

# Millat va Genderi bo'yicha ayrim ustunlarni to'ldirish
columns_to_fill = ['Marital status', 'Previous qualification', 'Previous qualification (grade)', 'Mother\'s qualification', 
                   'Father\'s qualification', 'Mother\'s occupation', 'Father\'s occupation']

for col in columns_to_fill:
    df = fill_nan_with_group_mode(df, 'Nationality', "Gender", col)

In [8]:
df.isna().mean() * 100

Marital status                                    2.075329
Application mode                                  2.428187
Application order                                 3.623984
Course                                            0.005228
Daytime/evening attendance                        0.226091
Previous qualification                            2.994067
Previous qualification (grade)                    1.431036
Nationality                                       0.000000
Mother's qualification                            2.296192
Father's qualification                            3.294650
Mother's occupation                               0.798505
Father's occupation                               0.406440
Admission grade                                   0.466557
Displaced                                         1.079485
Educational special needs                         2.212551
Debtor                                            3.631825
Tuition fees up to date                           2.770590
Gender                                            0.000000
Scholarship holder                                2.618992
Age at enrollment                                 2.425573
International                                     3.064638
Curricular units 1st sem (credited)               2.421652
Curricular units 1st sem (enrolled)               2.003450
Curricular units 1st sem (evaluations)            3.941556
Curricular units 1st sem (approved)               3.569095
Curricular units 1st sem (grade)                  2.412504
Curricular units 1st sem (without evaluations)    2.091011
Curricular units 2nd sem (credited)               2.629447
Curricular units 2nd sem (enrolled)               0.965786
Curricular units 2nd sem (evaluations)            0.835098
Curricular units 2nd sem (approved)               1.970778
Curricular units 2nd sem (grade)                  3.626598
Curricular units 2nd sem (without evaluations)    3.349539
Unemployment rate                                 2.426880
Inflation rate                                    3.993832
GDP                                               2.297499
Target                                            1.717243
dtype: float64

### Endi boshqa ustunlarni object bo'lsa modasi bilan numeric bo'lsa o'rtacha qiymati bilan NaN qiymatlardan tozalab olamiz

In [9]:
for column in df.select_dtypes("number").columns:
    df[column] = df[column].fillna(df[column].mean())
for column in df.select_dtypes('object'):
    df[column] = df[column].fillna(df[column].mode()[0])

df.isna().mean() * 100

Marital status                                    0.0
Application mode                                  0.0
Application order                                 0.0
Course                                            0.0
Daytime/evening attendance                        0.0
Previous qualification                            0.0
Previous qualification (grade)                    0.0
Nationality                                       0.0
Mother's qualification                            0.0
Father's qualification                            0.0
Mother's occupation                               0.0
Father's occupation                               0.0
Admission grade                                   0.0
Displaced                                         0.0
Educational special needs                         0.0
Debtor                                            0.0
Tuition fees up to date                           0.0
Gender                                            0.0
Scholarship holder                                0.0
Age at enrollment                                 0.0
International                                     0.0
Curricular units 1st sem (credited)               0.0
Curricular units 1st sem (enrolled)               0.0
Curricular units 1st sem (evaluations)            0.0
Curricular units 1st sem (approved)               0.0
Curricular units 1st sem (grade)                  0.0
Curricular units 1st sem (without evaluations)    0.0
Curricular units 2nd sem (credited)               0.0
Curricular units 2nd sem (enrolled)               0.0
Curricular units 2nd sem (evaluations)            0.0
Curricular units 2nd sem (approved)               0.0
Curricular units 2nd sem (grade)                  0.0
Curricular units 2nd sem (without evaluations)    0.0
Unemployment rate                                 0.0
Inflation rate                                    0.0
GDP                                               0.0
Target                                            0.0
dtype: float64

#### Datasetni Nan qiymatlardan tozalab oldik

### Datasetimizning dastlabgi 10000ta qatorini kesib olamiz

In [10]:
df.iloc[:10000].to_csv('cleaned_data.csv')
dg = pd.read_csv('cleaned_data.csv', index_col = 0)
dg.shape

(10000, 37)